.box{
  padding: 0;
  display: flex;
  position: relative;
}
.box li{
  list-style: none;
  margin-left: 30px;
  font-weight: 500px;
}
body{
  background-image: url(/Screenshot_2022-10-26-08-48-00.png);
  background-size: cover;
}