.box{
  padding: 0;
  display: flex;
  position: relative;
}
.box li{
  list-style: none;
  margin-left: 30px;
  font-weight: 500px;
}
body{
  background-image: url(image/Screenshot_2022-10-26-09-08-41.png);
  background-size: cover;
}